@import "../../../../../../../styles/variables";

.wrapper {
	display: flex;
	align-items: center;

	&Item {
		position: relative;
		padding: 0 8px;

		cursor: pointer;

		height: 19px;

		span {
			display: block;

			height: 19px;
		}

		svg {
			fill: $white;

			path {
				fill: $white;
			}
		}
		&WishList {
			z-index: 1002;
			svg {
				path {
					fill: $blue !important;
				}
			}
		}
		&WishListIsNotEmpty {
			position: relative;

			svg {
				path {
					fill: $white !important;
				}
			}

			span {
				position: absolute;
				top: -4px;
				left: 20px;
				display: flex;
				align-items: center;
				justify-content: center;

				width: 18px;
				height: 18px;
				border-radius: 50%;

				background-color: $black;

				font-size: 9px;
				color: $white;
			}
		}
		&CartIsNotEmpty {
			position: relative;

			span {
				position: absolute;
				top: -4px;
				left: 20px;
				display: flex;
				align-items: center;
				justify-content: center;

				width: 18px;
				height: 18px;
				border-radius: 50%;

				background-color: $black;

				font-size: 9px;
				color: $white;
			}
		}
	}

	&Item:last-child {
		padding-right: 0;
	}

	&Item:nth-child(4) {
		position: relative;
		z-index: 100;
	}
}
