@use "sass:map";
@import "../../../../../styles/variables";
@import "./base.module.scss";

@media only screen and (min-width: map.get($breakpoints, "ultra-mini")) {
	.wrapper {
		max-width: calc(100vw - 60px);
		border-radius: 0 16px 16px 0;

		overflow: hidden;
	}
}
@media only screen and (min-width: map.get($breakpoints, "mini")) {
	.wrapper {
		width: 420px;
	}
}
@media only screen and (min-width: map.get($breakpoints, "super-smaller")) {
}
@media only screen and (min-width: map.get($breakpoints, "smaller")) {
	.wrapper {
		top: 50%;
		left: 50%;
		max-height: 80vh;
		border-radius: 25px;

		transform: translate(-50%, -50%);
	}
}
@media only screen and (min-width: map.get($breakpoints, "large-min")) {
}
@media only screen and (min-width: map.get($breakpoints, "large")) {
}
@media only screen and (min-width: map.get($breakpoints, "large-max")) {
}
