@import "../../../../styles/variables";

.wrapper {
	max-height: 0;
	max-width: 800px;
	width: 100%;
	padding: 0 10px;

	opacity: 0;
	visibility: hidden;
	transform: translateY(20px);

	transition: transform 0.3s;

	&Active {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		transition: transform 0.3s;
		margin-top: -282px;
		max-height: 100%;
	}

	&Title {
		margin: 30px auto;

		font-size: 23px;
		font-weight: 700;
		text-align: center;
		color: $dark-gray;
	}

	&Logout {
		display: flex;
		justify-content: center;

		margin: 0 auto 30px auto;

		button {
			display: flex;
			align-items: center;

			border: 0;

			background-color: transparent;

			font-size: 15px;
			color: $blue;

			cursor: pointer;

			svg {
				margin-right: 5px;
			}
		}
	}

	&List {
		display: flex;
		flex-direction: column;

		width: 100%;
	}
	&EmptyList {
		margin: 0 20px;

		text-align: center;
	}

	&Btn {
		display: flex;
		align-items: center;
		justify-content: center;

		max-width: 414px;
		width: 100%;
		height: 32.5px;
		margin: 20px auto 0 auto;
		padding: 8px 14px;
		border-radius: 100px;
		border: 0;

		background-color: $blue;

		font-weight: bold;
		text-transform: uppercase;
		color: $white;

		cursor: pointer;
	}
}
