@use "sass:map";
@import "../../../../../styles/variables";

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding: 0 16px;

	background-color: $grayish-blue;

	&Title {
		margin: 32px auto 24px auto;

		font-size: 18px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		color: $dark-gray;
		letter-spacing: 2.5px;
		line-height: 22px;
	}
}
