@use "sass:map";
@import "./base.module.scss";
@import "../../../styles/variables";

@media only screen and (min-width: "mini") {
}

@media only screen and (min-width: map.get($breakpoints, "super-smaller")) {
	.wrapper {
		&Brands {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}
