@import "../../../styles/variables";

.wrapper {
	padding: 20px;

	background-color: $grayish-blue;

	&Content {
		display: flex;
		flex-wrap: wrap;

		width: 100%;
		max-width: 1120px;
		margin: 0 auto;
	}
}
