$breakpoints: (
	"ultra-mini": 375px,
	"mini": 480px,
	"super-smaller": 575px,
	"smaller": 768px,
	"small": 1024px,
	"large": 1465px,
) !default;

//colors
$yellow: #fdcf3c;
$yellow-2: #ffe600;
$green: #77bf4a;
$green-2: #0cae61;
$white: #fff;
$black: #000;
$blue: #0067ff;
$red: #f10707;
$grayish-blue: #f2f7fb;
$light-gray-2: #ced4da;
$gray: #d9dde8;
$gray-3: #f6f7fb;
$dark-gray: #22292f;
$dark-pink: #e6055b;
$primary-purple-tint: #f6f5fd;
