@use "sass:map";
@import "./base.module.scss";
@import "../../../../../styles/variables";

@media only screen and (min-width: 330px) {
	.wrapper {
		&Header {
			padding: 20px;
		}
	}
}

@media only screen and (min-width: map.get($breakpoints, "mini")) {
}

@media only screen and (min-width: map.get($breakpoints, "super-smaller")) {
	.wrapper {
		&Header {
			padding: 20px 25px;
		}
		&Details {
			padding: 25px;
		}
	}
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}
