@use "sass:map";
@import "../../../../../styles/variables";
@import "./base.module.scss";

@media only screen and (min-width: 481px) {
}
@media only screen and (min-width: map.get($breakpoints, "ultra-mini")) {
}
@media only screen and (min-width: map.get($breakpoints, "super-smaller")) {
}
@media only screen and (min-width: map.get($breakpoints, "smaller")) {
	.wrapper {
		left: 50%;
		top: 50%;

		max-width: 500px;
		border-radius: 24px;

		transform: translate(-50%, -50%);

		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.4s ease-in-out,
			visibility 0.4s ease-in-out;
		pointer-events: none;

		&Active {
			visibility: visible;
			opacity: 1;
			pointer-events: all;
		}

		&Box {
			max-width: 415px;
		}
	}
}
@media only screen and (min-width: map.get($breakpoints, "small")) {
	.wrapper {
		height: 621px;
	}
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}
@media only screen and (min-width: map.get($breakpoints, "large-max")) {
}
