@import "../../../../../../styles/variables";

.wrapper {
	display: flex;

	font-size: 12px;

	a {
		display: flex;
		align-items: center;

		text-decoration: none;
		color: $blue;

		svg {
			width: 5px;
			margin-left: 4px;

			color: $dark-pink;
		}
	}

	&Hide {
		display: none;
	}
}
