@use "sass:map";
@import "./base.module.scss";
@import "../../../../../../styles/variables";

@media only screen and (min-width: map.get($breakpoints, "ultra-mini")) {
}

@media only screen and (min-width: map.get($breakpoints, "mini")) {
}

@media only screen and (min-width: map.get($breakpoints, "super-smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "smaller")) {
}

@media only screen and (min-width: map.get($breakpoints, "small")) {
	.wrapper {
		font-size: 16px;

		a {
			font-weight: bold;
			color: $dark-gray;

			svg {
				width: 6px;
			}
		}
		p {
			font-weight: bold;
			color: $blue;
		}
	}
}

@media only screen and (min-width: map.get($breakpoints, "large")) {
}
