@import "../../../../../styles/variables";

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 36px;
	height: 36px;
	padding: 7px 5px;
	border-radius: 5px;
	border: 1px solid #ced4da;

	background-color: $white;

	cursor: pointer;
	transition: border 0.3s;

	img {
		min-width: 24px;
		min-height: 24px;
		border-radius: 5px;
	}

	svg {
		width: 15px;
		height: 15px;

		transition: fill 0.3s;
	}
	p {
		margin: 0 5px 0 10px;
	}
}
.wrapper:hover {
	border: 1px solid $blue;

	svg {
		fill: blue;
	}
}
